.container div{
    border: 3px solid tomato;
    height: 100px;
    width: 200px;
    font-size: 3em;
    text-align: center;
}
.container{
    display: flex;
    gap:3px;
}
.box{
    font-size: 4em;
    height: 150px;
    width: 150px;
    border: 2px solid Slateblue;
}
.box-container{
    display:flex;
    gap:50px;
}
.user{
    border: 4px solid blue;
    font-size: 2em;
    height: 150px;
    width: 150px;
    background-color: aquamarine;
}
.user-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.carduser{
    border: 4px solid blue;
    font-size: 2em;
    height: 150px;
    width: 150px;
    background-color: white;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.mainuser{
    border: 4px solid blue;
    font-size: 2em;
    height: 150px;
    width: 150px;
    background-color: white;
}
.main-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.branchuser{
    border: 4px solid blue;
    font-size: 2em;
    height: 150px;
    width: 150px;
    background-color: white;
}
.branch-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}